<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>GIDClientID</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>29334965149-eg89vilk1c7abefjnrnm92kfm6op6n84.apps.googleusercontent.com</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.29334965149-eg89vilk1c7abefjnrnm92kfm6op6n84</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
